/* google fonts  */

.noto-font{
  font-family: "Noto Serif", serif;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.width-1{
    max-width: 71.25rem;
    margin: 0 auto;
}
.width-2{
    max-width: 90rem;
    margin: 0 auto;
}
.color-black{
    color: #000000;
}
.color-blue{
    color: #8987A1;
}
.color-black-blue{
    color: rgba(0, 0, 0, 0.5);
}
.different{
    color: #E95A08;
}
.text-center{
    text-align: center;
}

/* header section start here  */
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
.link-items{
    display: flex;
    gap: 3rem; 
}
.link-item{
    list-style: none;
}
.link-item a{
    text-decoration: none;
}
/* header section ends here  */

/* fresh section start here  */
.fresh-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 120px;
}
.fresh-body-section{
    width: 35rem;
}
.fresh-section-title{
    font-size: 4rem;
    font-weight: bold;
}
.fresh-section-description{
    font-size: 1.4rem;
    line-height: 1.7rem;
}
/* fresh section ends here  */

/* plant section start here  */
.plant-section{
    margin-bottom: 210px;
}
.plant-title{
    font-size: 3.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.plant-description{
    font-size: 1.4rem;
    line-height: 30px;
    width: 888px;
    margin: auto;
    margin-bottom: 49px;

}
.plant-body{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.plant-card{
    text-align: center;
}
.plant-card-title{
    font-size: 1.4rem;
    font-weight: 500;
}
.plant-card-price{
    font-size: 1.4rem;
    font-weight: bold;
}
.plant-card-button{
    font-weight: 600;
    background-color: #E95A08;
    color: #ffffff;
    padding: 26px;
    border: none;
    width: 100%;
}
/* plant section ends here  */

/* media screen section  */
/* for mobile  */
@media screen and (max-width: 576px) {
    .header-section{
        margin: 20px;
    }
    .logo{
        width: 4rem;
        height: 2.4rem;
    }
    .link-item .a-1, .a-2, .a-3{
        display: none;
    }
    .fresh-section{
        flex-direction: column-reverse;
        gap: 24px;
    }
    .fresh-body-section{
        width: auto;
        margin: 20px;
    }
    .fresh-section-title{
        font-size: 1.5rem;
        margin-bottom: 12px;
    }
    .plant-section{
        margin: 20px;
    }
    .plant-description{
        width: 100%;
    }
    .plant-body{
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-card-body, img{
        width: 100%;
    }
}