/* google fonts  */

.noto-font{
  font-family: "Noto Serif", serif;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.width-1{
    max-width: 71.25rem;
    margin: 0 auto;
}
.width-2{
    max-width: 90rem;
    margin: 0 auto;
}
.icon{
   font-size: 2rem;
}
.color-black{
    color: #000000;
}
.color-blue{
    color: #8987A1;
}
.color-black-blue{
    color: rgba(0, 0, 0, 0.5);
}
.different{
    color: #E95A08;
}
.text-center{
    text-align: center;
}

/* header section start here  */
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
.link-items{
    display: flex;
    gap: 3rem; 
}
.link-item{
    list-style: none;
}
.link-item a{
    text-decoration: none;
}
/* header section ends here  */

/* fresh section start here  */
.fresh-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 120px;
}
.fresh-body-section{
    width: 35rem;
}
.fresh-section-title{
    font-size: 4rem;
    font-weight: bold;
}
.fresh-section-description{
    font-size: 1.4rem;
    line-height: 1.7rem;
}
/* fresh section ends here  */

/* plant section start here  */
.plant-section{
    margin-bottom: 210px;
}
.plant-title{
    font-size: 3.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.plant-description{
    font-size: 1.4rem;
    line-height: 30px;
    width: 888px;
    margin: auto;
    margin-bottom: 49px;

}
.plant-body{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}
.plant-card{
    text-align: center;
}
.plant-card-body, img{
    width: 100%;
}
.plant-card-title{
    font-size: 1.4rem;
    font-weight: 500;
}
.plant-card-price{
    font-size: 1.4rem;
    font-weight: bold;
}
.plant-card-button{
    font-weight: 600;
    background-color: #E95A08;
    color: #ffffff;
    padding: 26px;
    border: none;
    width: 100%;
}
/* plant section ends here  */

/* flower lover section start here  */
.flower-lover-section{
    display: flex;
    gap: 80px;
    align-items: center;
    margin-bottom: 133px;
}
.flower-img{
    position: relative;

}
.flower-img-1{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -120px;
    left: 340px;
    z-index: 1;
}
.flower-img-1 img{
    animation: circle 4s linear infinite;

}
@keyframes circle{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
.flower-img .flower-img-2{
    width: 540px;
}
 .flower-lover-body{
    width: 50%;
 }
 .flower-lover-title{
    font-weight: bold;
    font-size: 3.1rem;
    margin-bottom: 20px;
    margin-left: -30px;
    width: 500px;
 }
 .flower-lover-description{
    font-size: 1.4rem;
    line-height: 30px;
    width: 500px;
 }
 .flower-lover-description li{
    margin-bottom: 20px;
 }
/* flower lover section ends here  */

/* latest deals section start here  */
.latest-deal-section{
    margin-bottom: 120px;
}
.latest-1{
    height: 400px;
    display: flex;
    gap: 28px;
}
.latest-1 img{
    width: 100%;
    margin-bottom: 25px;
    border-radius: 22px;
}
.dubble-img{
    position: relative;
}
.dubble-img img{
    height: 50%;
}
.single-img{
    position: relative;
}
.single-img img{
    z-index: 0;
    width: auto;
}
.d-img{
    position: relative;
    z-index: 0;
}
.gradient{
    background-color: rgb(19, 19, 20);
    position: absolute;
    height: 199px;
    width: 100%;
    border-radius: 20px;
    top: 0px;
    opacity: .4;
}
.gradient-2{
    background-color: rgb(19, 19, 20);
    position: absolute;
    height: 195px;
    width: 100%;
    border-radius: 20px;
    top: 226px;
    opacity: .4;
}
.gradient-3{
    background-color: rgb(19, 19, 20);
    position: absolute;
    height: 425px;
    width: 100%;
    border-radius: 20px;
    top: 0;
    opacity: .4;
}
.text-1{
    position: absolute;
    top: 70px;
    right: 60px;
}
.text-2{
    position: absolute;
    top: 300px;
    right: 60px;
}
.text-3{
    position: absolute;
    top: 170px;
    right: 180px;
}
.first-text-1{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.first-text-2{
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
}
.first-text-3{
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.first-text-4{
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
}

/* latest deals section start here  */

/* join section start here */
.join-section{
    margin-bottom: 50px;
    background-image: url("images/news-letter-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.join-text{
    text-align: center;
    padding: 199px 0 193px 0;
}
.join-section-title{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 23px;
    color: #ffffff;
}
.input-email{
    padding: 16px 0 16px 0;
    width: 540px;
    border: none;
}
input::placeholder{
    padding-left: 20px;
}
.sub-btn{
    padding: 16px 53px;
    font-weight: 600;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
}
/* join section start here */

/* footer section start here */
.footer-section{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.section-1{
    width: 270px;
} 
.footer-img{
    height: 82px;
    width: 135px;
    margin-bottom: 16px;
}
.footer-description{
    font-weight: 1.4rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.footer-link, .footer-services-item, .footer-icon-item{
    list-style: none;
    margin-bottom: 32px;
}
.footer-link a, .footer-services-item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.footer-icon-items {
    display: flex;
    gap: 24px;
    justify-content: end;
}
.fa-linkedin{
    color: #0077B5;
}
.fa-x-twitter{
    color: black;
}
.fa-facebook{
    color: 	#1877F2
}
.fa-youtube{
    color: 	#FF0000;
}

/* footer section ends here */

/* media screen section  */
/* for mobile  */
@media screen and (max-width: 576px) {
    /* header section start here  */
    .header-section{
        margin: 20px;
    }
    .logo{
        width: 4rem;
        height: 2.4rem;
    }
    .link-item .a-1, .a-2, .a-3{
        display: none;
    }

    /* fresh section start here  */
    .fresh-section{
        flex-direction: column-reverse;
        gap: 24px;
    }
    .fresh-body-section{
        width: auto;
        margin: 20px;
    }
    .fresh-section-title{
        font-size: 1.5rem;
        margin-bottom: 12px;
    }
    .fresh-section-description{
        font-size: 1rem;
    }

    /* plant section start here  */
    .plant-section{
        margin: 20px;
    }
    .plant-title{
        font-size: 1.5rem;
    }
    .plant-description{
        width: 100%;
        font-size: 1rem;
        line-height: 20px;
    }
    .plant-body{
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-card-body, img{
        width: 100%;
    }
    .plant-card-title, .plant-card-price{
        font-size: 1rem;
    }

    /* flower section start here  */
    .flower-lover-section{
        flex-direction: column;
        margin: 20px;
    }
    .flower-img-1{
        display: none;
    }
    .flower-img .flower-img-2{
        width: 100%;
        margin-top: 40px;
   }
    .flower-lover-body{
        width: 100%;
    }
    .flower-lover-title{
        width: 100%;
        margin: auto;
        font-size: 1.5rem;
    }
    .flower-lover-description{
        width: 80%;
        font-size: .8rem;
        line-height: 20px;
        margin: 10px 0 0 25px;
    }

    /* latest section start here  */
    .latest-deal-section{
        margin: 20px;
    }
    .latest-1{
        flex-direction: column;
    }
    .d-img .latest-1-img{
        height: 184.5px;
    }
    .d-img .latest-01-img{
        border-radius: 14px;
    }
    .d-img .latest-02-img{
        border-radius: 0;
    }
    .gradient, .gradient-2, .gradient-3{
        height: 184.5px;
    }
    .gradient{
        border-radius: 14px;
    }
    .gradient-2{
        top: 215px;
        opacity: .4;
        border-radius: 0;
    }
    .text-1{
        top: 60px;
        left: 59px;
    }
    .text-2{
        top: 275px;
        left: 45px;
    }
    .first-text-1, .first-text-2{
        margin-bottom: 19px;
    }
    .single-img img{
        height: 172px;
        margin-top: -30px;
        width: 100%;
        border-radius: 14px;
    }
    .gradient-3{
        top: -31px;
        height: 172px;
        border-radius: 14px;
    }
    .text-3{
        top: 25px;
        right: 0;
        left: 5px;
    }
     .first-text-3{
       font-size: 1.3rem;
       margin-bottom: 19px;  
    }
     .first-text-4{
       font-size: 1rem;
       font-family: 600; 
    }

    /* join section start here  */
    .join-section{
       margin-top: 120px;
       margin-bottom: -50px;
       background-image: url("images/news-letter-bg.png");
       background-position: auto;
       background-repeat: no-repeat;
       background-size: auto 276px;
       background-attachment: scroll;
    }
    .join-section-title{
        font-size: 1.3rem;
    }
    .input-email{
        width: 60%;
    }
    .sub-btn{
        padding: 16px 19px;
        width: 30%;
    }
    
    
    /* footer section start here  */
    .footer-section{
        flex-direction: column;
        margin: 0 20px 20px 20px;
    }
    .section-1{
       width: 370px;
       margin-bottom: 20px;
    } 
    .footer-icon-items {
       justify-content: start;
    }
}